.Track {
  background-image: url('../../images/tile-track.png');
  clip-path: inset(0 0 calc((var(--grid-size) * 3)) 0);
  display: block;
  width: var(--grid-size);
  height: calc((var(--grid-size) * 7) + (var(--grid-line-width) * 6));
  transition: transform 2s;
  position: absolute;
  z-index: 1;
  pointer-events: none;
}

.Track::after {
  background-image: url('../../images/tile-track-pillar.png');
  display: block;
  content: '';
  height: 50px;
  width: 50px;
  bottom: calc((var(--grid-size) * 3));
  position: absolute;
  pointer-events: none;
}
