.Leaver {
  background-color: transparent;
  background-image: url('../../images/sprite-lever.png');
  background-repeat: no-repeat;
  border: none;
  height: 32px;
  width: 32px;
  margin: 6px 9px 12px 9px;
}

.Leaver.is-landscape {
  transform: rotate(270deg);
}

.Leaver:focus {
  outline: none;
}

.Leaver:hover {
  cursor: pointer;
}

.Leaver:disabled:hover,
.Leaver:not(.has-leaver):hover {
  cursor: not-allowed;
}

.Leaver--red {
  background-position: -96px -96px;
}

.Leaver--red.has-leaver {
  background-position: -96px 0;
}

.Leaver--red.has-leaver.is-pulled {
  background-position: -96px -64px;
}

.Leaver--green {
  background-position: -224px -224px;
}

.Leaver--green.has-leaver {
  background-position: -224px -128px;
}

.Leaver--green.has-leaver.is-pulled {
  background-position: -224px -192px;
}

.Leaver--yellow {
  background-position: -352px -96px;
}

.Leaver--yellow.has-leaver {
  background-position: -352px 0;
}

.Leaver--yellow.has-leaver.is-pulled {
  background-position: -352px -64px;
}

.Leaver--cyan {
  background-position: -352px -224px;
}

.Leaver--cyan.has-leaver {
  background-position: -352px -128px;
}

.Leaver--cyan.has-leaver.is-pulled {
  background-position: -352px -192px;
}
