:root {
  --grid-size: 50px;
  --grid-line-width: 1px;
  --grid-color: rgb(56, 56, 56);
}

.Board {
  display: grid;
  grid-gap: var(--grid-line-width);
}

.Board.is-landscape {
  transform: rotate(90deg);
}
