
.AntiMagicField {
  display: flex;
  align-items: center;
  justify-content: center;
}

.AntiMagicField,
.AntiMagicField::before,
.AntiMagicField::after {
  pointer-events: none;
  height: 0;
  min-height: 0;
  width: calc((var(--grid-size) * 7) + (var(--grid-line-width) * 2));
  transition: height 0.4s ease-out,
              min-height 0.4s ease-out;
  z-index: 3;
}

.AntiMagicField::before,
.AntiMagicField::after {
  display: block;
  content: '';
  position: absolute;
}

.AntiMagicField {
  animation: glitch1 9s infinite;
  background-color: rgba(255,255,255, 0.1);
  position: relative;
}

.AntiMagicField::before {
  background-color: rgba(148, 246, 250, 0.1);
  animation: glitch2 6.5s infinite;
}

.AntiMagicField::after {
  background-color: rgba(250, 180, 148, 0.1);
  animation: glitch3 6.5s infinite;
}

.AntiMagicField.is-active,
.AntiMagicField.is-active::before,
.AntiMagicField.is-active::after {
  height: calc((var(--grid-size) * 21) + (var(--grid-line-width) * 21));
  min-height: calc((var(--grid-size) * 21) + (var(--grid-line-width) * 21));
  transition: height 0.4s ease-in,
              min-height 0.4s ease-in;
}

@keyframes glitch1 {
  0% {
    transform: none;
    opacity: 1;
  }
  7% {
    transform: skew(-0.5deg, -0.9deg);
    opacity: 0.75;
  }
  10% {
    transform: none;
    opacity: 1;
  }
  27% {
    transform: none;
    opacity: 1;
  }
  30% {
    transform: skew(0.8deg, -0.1deg);
    opacity: 0.75;
  }
  35% {
    transform: none;
    opacity: 1;
  }
  52% {
    transform: none;
    opacity: 1;
  }
  55% {
    transform: skew(-1deg, 0.2deg);
    opacity: 0.75;
  }
  50% {
    transform: none;
    opacity: 1;
  }
  72% {
    transform: none;
    opacity: 1;
  }
  75% {
    transform: skew(0.4deg, 1deg);
    opacity: 0.75;
  }
  80% {
    transform: none;
    opacity: 1;
  }
  100% {
    transform: none;
    opacity: 1;
  }
}

@keyframes glitch2 {
  0% {
    transform: none;
    opacity: 0.25;
  }
  7% {
    transform: translate(-2px, -3px);
    opacity: 0.5;
  }
  10% {
    transform: none;
    opacity: 0.25;
  }
  27% {
    transform: none;
    opacity: 0.25;
  }
  30% {
    transform: translate(-5px, -2px);
    opacity: 0.5;
  }
  35% {
    transform: none;
    opacity: 0.25;
  }
  52% {
    transform: none;
    opacity: 0.25;
  }
  55% {
    transform: translate(-5px, -1px);
    opacity: 0.5;
  }
  50% {
    transform: none;
    opacity: 0.25;
  }
  72% {
    transform: none;
    opacity: 0.25;
  }
  75% {
    transform: translate(-2px, -6px);
    opacity: 0.5;
  }
  80% {
    transform: none;
    opacity: 0.25;
  }
  100% {
    transform: none;
    opacity: 0.25;
  }
}

@keyframes glitch3 {
  0% {
    transform: none;
    opacity: 0.25;
  }
  7% {
    transform: translate(2px, 3px);
    opacity: 0.5;
  }
  10% {
    transform: none;
    opacity: 0.25;
  }
  27% {
    transform: none;
    opacity: 0.25;
  }
  30% {
    transform: translate(5px, 2px);
    opacity: 0.5;
  }
  35% {
    transform: none;
    opacity: 0.25;
  }
  52% {
    transform: none;
    opacity: 0.25;
  }
  55% {
    transform: translate(5px, 1px);
    opacity: 0.5;
  }
  50% {
    transform: none;
    opacity: 0.25;
  }
  72% {
    transform: none;
    opacity: 0.25;
  }
  75% {
    transform: translate(2px, 6px);
    opacity: 0.5;
  }
  80% {
    transform: none;
    opacity: 0.25;
  }
  100% {
    transform: none;
    opacity: 0.25;
  }
}
