:root {
  --gutter-xs: 1px;
  --gutter-sm: 2px;
  --gutter-m: 4px;
  --gutter-lg: 10px;
  --gutter-xl: 20px;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  flex: 1 1 100%;
  min-height: 100vh;
  overflow: auto;
  align-self: stretch;
  padding: var(--guter-xl);
  position: relative;
}
