:root {
  --gutter-xs: 1px;
  --gutter-sm: 2px;
  --gutter-m: 4px;
  --gutter-lg: 10px;
  --gutter-xl: 20px;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  flex: 1 1 100%;
  min-height: 100vh;
  overflow: auto;
  align-self: stretch;
  padding: var(--guter-xl);
  position: relative;
}

.App-icon {
  color: rgba(255,255,255,0.4);
  fill: currentColor;
}

.App-icon:hover,
.App-icon:focus {
  color: rgba(255,255,255,0.8);
  cursor: pointer;
}

.App-icon:active {
  color: rgba(255,255,255,1);
}

.App-icon--orientation {
  position: fixed;
  top: var(--gutter-xl);
  right: var(--gutter-xl);
}
