:root {
  --token-size: calc(var(--grid-size) - 10px);
}

.Token {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--token-size);
  border: var(--grid-line-width) solid #fff;
  box-shadow: 0 0 var(--grid-line-width) 0 #000;
  color: #fff;
  cursor: grab;
  width: var(--token-size);
  height: var(--token-size);
  position: absolute;
  opacity: 1;
  visibility: hidden;
  z-index: 999;
}

.Token.is-landscape {
  transform: rotate(270deg);
}

.Token.is-revealed {
  visibility: visible;
}

.Token.is-hidden {
  opacity: 0.4;
}

.Token.is-dragging {
  visibility: hidden;
  cursor: grabbing
}
